<header class="top-header">
    <div class="module-info">
        <span>Module hiแปn tแบกi: MES</span> |
        <span>Tแป chแปฉc hiแปn tแบกi: EPROVE.VN</span>
    </div>
    <nav class="top-menu">
        <span class="icon-btn">๐</span>
        <span class="icon-btn">๐</span>
        <span class="icon-btn">โ๏ธ</span>
        <span class="icon-btn">๐</span>
        <span class="icon-btn">โ</span>
        <a href="#" class="lang-select">Tiแบฟng Viแปt โฝ</a>
        <span class="user-info">
            <%= user.id %>
                    </span>
    </nav>
</header>